@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    transition: 0.4s all ease;
    font-family: "Inter", sans-serif;
    transition: 0.4s all ease;

}

html {
    display: flex;
    transition: 0.4s all ease;
}


.div {
    transition: 0.4s all ease;
}

.body-1 {
    background-color: #2c2f33;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    transition: 0.4s all ease;
    align-items: center;
    color: white;
}

.body-1 .imghome img {
    border-radius: 100px;
    box-shadow: 0 0 90px #ff3130;
    transition: 0.4s all ease;
}

.body-1 .text h1 {
    color: rgb(255, 255, 255);
    font-size: xx-large;
}

.body-1 .text h1 a {
    text-align: center;
    text-decoration: none;
    color: #ff3130;
}

.sottotitolo {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: xxx-large;
}

.body-1 .text .elenco {
    color: #ff3130;
    text-decoration: none;
    font-size: xx-large;
}

.nav {
    display: flex;
    width: 209vh;
    height: 10vh;
    background-color: #23272a;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    transition: 0.5s all ease;

}

.nav h1 {
    color: antiquewhite;
    transition: 0.4s all ease;

}

.nav img {
    width: 80px;
    border-radius: 100px;
    transition: 0.4s all ease;

}

.body-2 {
    display: flex;
    height: 100vh;
    transition: 0.4s all ease;
    background-color: #23272a;
}

.body-3 {
    background-color: #2c2f33;
    display: flex;
    transition: 0.4s all ease;
    height: 100vh;
}

.body-4 {
    display: flex;
    height: 100vh;
    background-color: #23272a;
    transition: 0.4s all ease;

}

.body-5 {
    background-color: #2c2f33;
    display: flex;
    transition: 0.4s all ease;
    height: 150vh;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.contact {
    background-color: #23272a;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    transition: 0.4s all ease;

}

.contact img {
    width: 70px;
    padding: 10px;
    transition: 0.4s all ease;

}

.contact a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family: "Inter", sans-serif;

}

.contact img:hover {
    width: 80px;
    transition: 0.4s all ease;
}

.contact a:hover {
    color: #ff3130;
    transition: 0.9s all ease;
    font-size: large;
}

.sin {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s all ease;
}

.sin:hover {
    transition: 0.4s all ease;
    font-size: large;
}

.sin h1:hover {
    color: #ff3130;
    transition: 0.4s all ease;

}

.des {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 370px;
    transition: 0.4s all ease;
}

.des a {
    color: white;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: large;
    transition: 0.4s all ease;
}

.des a:hover {
    font-size: 20px;
    transition: 0.4s all ease;
    color: #ff3130;
}

.madina {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 120vh;
}

.madina a {
    color: white;
    text-decoration: none;
}

.madina img {
    width: 140px;
    border-radius: 100px;
    box-shadow: 0 0 90px #ff3130;

}

.body-5 .title {
    color: #ff3130;
}

.madina .img {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.madina .img a {
    font-size: 50px;
    color: #ff3130;
}

.button a {
    background-color: #ff3130;
    padding: 10px;
    border-radius: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    box-shadow: 0 0 30px #ff3130;

}

.button a {
    font-size: 27px;
    text-decoration: none;
    color: white;
}

.button a::after {
    font-size: 27px;
    text-decoration: none;
    color: white;
    transition: 0.4s all ease;

}

.button a:hover {
    display: flex;
    width: 210px;
    height: 40px;
    transition: 0.4s all ease;
    font-size: 30px;
}

.des2 a {
    color: white;
    text-decoration: none;
    width: 130px;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff3130;
    border-radius: 100px;
    box-shadow: 0 0 30px #ff3130;
}

.des2 a:hover {
    width: 135px;
    height: 5.5vh;
    font-size: large;
}

.stafform {
    background-color: #1e1f21;
    height: 17vh;
    width: 400px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.stafform img {
    width: 120px;
    border-radius: 100px;
}

.stafform .text {
    color: white;
    font-size: xx-large;
}

.staff .founder {
    color: #ff3130;
    font-size: xx-large;
    display: flex;
    justify-content: center;
}

.staff .admin {
    color: #ff3130;
    font-size: xx-large;
    display: flex;
    justify-content: center;
}

.staff .stafform a {
    color: white;
    font-size: x-large;
}

.staff .co-founder {
    color: #ff3130;
    font-size: xx-large;
}

.linea {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.staff2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.staff2 .admin {
    color: #ff3130;
    font-size: xx-large;
}

.staff2 .co-founder {
    color: #ff3130;
    font-size: xx-large;

}

.linea {
    display: flex;
    justify-content: space-around;
    width: 100vh;
}

.linea2 {
    display: flex;
    justify-content: space-around;
    width: 190vh;
}

.body-4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-4 h1 {
    color: #ff3130;
}

.title-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    background-color: #2c2f33;
    height: 130px;
    border-radius: 40px;
    box-shadow: 0 0 50px #ff3130;

}

.title-info h1 {
    color: white;
}

.title-info img {
    width: 100px;
    height: 100px;
}

.body-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
}

.sin-1 {
    justify-content: space-around;
    flex-direction: column;
    justify-content: center;
}

.sin-1 .uno {
    background-color: #2c2f33;
    height: 70px;
    width: 300px;
    justify-content: center;
    border-radius: 100px;
    box-shadow: 0 0 30px #ff3130;
    text-align: center;
    display: flex;
    align-items: center;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: x-large;
}

.cont {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1200px;
}

.des-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;

}

.sin-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
}

.sin-1 .uno{
    cursor: pointer;

}
.sin-1 .uno:hover{
    height: 80px;
    width: 310px;
}
.des-1 .uno:hover{
    height: 80px;
    width: 310px;
}

.des-1 .uno {
    background-color: #2c2f33;
    height: 70px;
    width: 300px;
    justify-content: center;
    border-radius: 100px;
    box-shadow: 0 0 30px #ff3130;
    text-align: center;
    display: flex;
    align-items: center;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: x-large;
    cursor: pointer;
}

.body-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vh;
}

.container-3 .sin-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 300px;
    border-radius: 30px;
    background-color: #23272a;
    box-shadow: 0 0 30px #ff3130;
}

.container-3 .des-3 {
    display: flex;
    justify-content: center;
    height: 70vh;
    width: 550px;
    border-radius: 30px;
    background-color: #23272a;
    box-shadow: 0 0 30px #ff3130;
    overflow-y: scroll;
}

.giveaway-1 {
    background-color: #2c2f33;
    height: 12vh;
    width: 450px;
    border-radius: 30px;
    box-shadow: 0 0 30px #ff3130;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    cursor: pointer;
}

.giveaway-1:hover{
    height: 13vh;
    width: 460px;
}

.giveaway-1 .titolo-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
}

.titolo-3 .d {
    color: #555;
}

.titolo-3 .t {
    font-size: X-large;
    color: #ff3130;
}

.giveaway-1 .stato {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    color: green;
}

.container-3 .des-3::-webkit-scrollbar-track {
    background: #ff3130;
}

.container-3 .des-3::-webkit-scrollbar {
    width: 10px;
    /* Larghezza della barra di scorrimento */
}

.container-3 .des-3::-webkit-scrollbar-track {
    background: #f1f1f100;
    /* Colore dello sfondo della barra di scorrimento */
}

.container-3 .des-3::-webkit-scrollbar-thumb {
    background: #888;
    /* Colore del cursore della barra di scorrimento */
    border-radius: 5px;
    /* Angoli arrotondati del cursore */
}

.container-3 .des-3::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Colore del cursore al passaggio del mouse */
}

.title-sin{
    display: flex;
    height: 15vh;
    width: 300px;
    justify-content: center;
    align-items: center;
}
.title-sin a{
    color: #ff3130;
    font-size: xx-large;
}
.desc-sin{
    display: flex;
    height: 55vh;
    width: 300px;
    justify-content: center;
    align-items: center;
    color: white;
}

.desc-sin a{
    text-align: center;
}
.evidenziato{
    background-color: #555;
    padding: 2px;
    border-radius: 4px;
}

@media (max-width: 780px) {
    .nav{
        display: flex;
        flex-direction: column;
        width: 1000px;
        height: 30vh;
    }
    
    }